.pagination__wrapper {
  display: flex;
  text-align: center;
  justify-content: flex-end;

  color: #404b52;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.12px;
}

.pagination__wrapper ul {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding-top: 30px;
  padding-right: 40px;
}
@media only screen and (max-width: 767px) {
  .pagination__wrapper ul {
    padding-right: 0;
  }
}
.pagination__wrapper li {
  display: flex;
  justify-content: center;
  align-items: center;

  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #f5f5f5;
}

.pagination__wrapper li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 24px;

  cursor: pointer;
}
