.aside__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media only screen and (max-width: 767px) {
  .aside__list {
    gap: 20px;
    padding-top: 60px;
  }
}
.aside__item {
  display: flex;
  align-items: center;
  width: 250px;
}
@media only screen and (max-width: 767px) {
  .aside__item {
    width: 24px;
  }
}
.aside__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  color: #9197b3;
  padding: 11px;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .aside__link {
    padding: 0;
  }
}

.aside__link__wrapper {
  display: flex;
  align-items: center;
  gap: 14px;
}

.aside__svg {
  width: 24px;
  height: 24px;

  fill: currentColor;
}

.aside__svg__withfill {
  fill: transparent;
  stroke: currentColor;
}

.aside__arrow {
  stroke: currentColor;
  fill: transparent;
}
