.customer__item {
  border-bottom: 2px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
.customer__item:nth-last-child(1) {
  border-bottom: none;
}

.inactive {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;

  width: 80px;
  border-radius: 4px;
  border: 1px solid #df0404;

  background-color: #ffc5c5;

  color: #df0404;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
}

.active {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;

  border-radius: 4px;
  border: 1px solid #00b087;

  background-color: rgba(22, 192, 152, 0.38);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
}
