@import "@fontsource/poppins";

body {
  min-height: 100vh;

  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #292d32;
  background: #fafbff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.active {
  background-color: #5932ea;
  border-radius: 8px;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.activePagination {
  background-color: #5932ea;
  color: #fff;

  border-radius: 4px;
  border: 1px solid #5932ea;
}

.previous {
  color: #404b52;
}

.previous.disabled {
  color: rgba(17, 17, 17, 0.5);
  cursor: default;
}

.next {
  color: #404b52;
}

.next.disabled {
  color: rgba(17, 17, 17, 0.5);
  cursor: default;
}
