.customers__logo {
  padding: 41px 0 51px 71px;
}
@media only screen and (max-width: 767px) {
  .customers__logo {
    /* padding: 15px 0 40px 20px; */
    padding: 10px 40px;
    width: 120px;
  }
}
