.aside {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 36px 28px 76px 28px;
  /* position: static; */
}
@media only screen and (max-width: 767px) {
  .aside {
    width: 30px;
    align-items: center;
    padding: 0 15px;
    gap: 20px;
    height: 100vh;
    position: fixed;
  }
}
