.customers__wrapper {
  background-color: #fafbff;
}
.customers__logo {
  padding: 41px 0 51px 71px;
}

.customers__container {
  background-color: #fff;
  margin-left: 71px;
  min-width: 968px;
  min-height: 812px;
}
.customers__container__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 53px 40px 36px;
}
.customers__title {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -0.22px;
  padding-bottom: 7px;
}
.customers__text {
  color: #16c098;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.14px;
}

.customers__table {
  border-collapse: collapse;
  width: 100%;
}
.customers__head {
  border-bottom: 2px solid #ddd;
  color: #b5b7c0;
  padding-bottom: 14px;
}

.customers__categories__text {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.14px;
  padding-bottom: 24px;
  text-align: left;
}

.customers__categories__text:nth-child(1) {
  padding-left: 38px;
}

.customers__list {
  color: #292d32;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.14px;
  border-bottom: 2px solid #ddd;
}

.customers__item {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 30px;
}
.customers__item:nth-child(1) {
  padding-left: 38px;
}

.active {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;

  border-radius: 4px;
  border: 1px solid #00b087;

  background-color: rgba(22, 192, 152, 0.38);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
}

.inactive {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;

  width: 80px;
  border-radius: 4px;
  border: 1px solid #df0404;

  background-color: #ffc5c5;

  color: #df0404;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
}

.customer__pagination {
  display: flex;
}

.customer__entries {
  color: #b5b7c0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.14px;
  padding-left: 38px;
  padding-top: 32px;
}

.customers__pagination__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 41px;
}
